.profile__avatar {
  border-radius: 50%;
  max-width: 127.5px;
  margin-left: 20px;
  margin-right: 20px;
  object-fit: cover;
  object-position: center;
  
}

@media (max-width: 920px) {
  .profile__avatar {
    margin-left: auto;
    margin-right: auto;
  }
}