.profile_button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: 0;
  outline: none; /* Для синий ободки */
  background: transparent;
}

@media (max-width: 320px) {
  .profile_button {
    display: block;
    padding: 0;
  }
}